<a href="https://colab.research.google.com/github/DolrajRijal/helloworld/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
#Url = /company_sales_data.csv
df = pd.read_csv('/company_sales_data.csv')
print(df.head(10))

   month_number  facecream  facewash  toothpaste  bathingsoap  shampoo  \
0             1       2500      1500        5200         9200     1200
1             2       2630      1200        5100         6100     2100
2             3       2140      1340        4550         9550     3550
3             4       3400      1130        5870         8870     1870
4             5       3600      1740        4560         7760     1560
5             6       2760      1555        4890         7490     1890
6             7       2980      1120        4780         8980     1780
7             8       3700      1400        5860         9960     2860
8             9       3540      1780        6100         8100     2100
9            10       1990      1890        8300        10300     2300

   moisturizer  total_units  total_profit
0         1500        21100        211000
1         1200        18330        183300
2         1340        22470        224700
3         1130        22270        222700
4         1740        20960        209600
5         1555        20140        201400
6         1120        29550        295500
7         1400        36140        361400
8         1780        23400        234000
9         1890        26670        266700